<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xml="http://www.w3.org/XML/1998/namespace"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	<display-name>Archetype Created Web Application</display-name>

	<welcome-file-list>
		<welcome-file>adjsp/pages-login.jsp</welcome-file>
	</welcome-file-list>
	

	<servlet>
		<servlet-name>HomeController</servlet-name>
		<servlet-class>controller.HomeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeController</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProfileController</servlet-name>
		<servlet-class>controller.ProfileController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfileController</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>controller.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RegisterController</servlet-name>
		<servlet-class>controller.RegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterController</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AccountController</servlet-name>
		<servlet-class>controller.AccountController</servlet-class>
		<multipart-config>
	        <max-file-size>10485760</max-file-size> <!-- 10MB -->
	        <max-request-size>20971520</max-request-size> <!-- 20MB -->
	        <file-size-threshold>0</file-size-threshold>
    	</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountController</servlet-name>
		<url-pattern>/accounts</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RoomController</servlet-name>
		<servlet-class>controller.RoomController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoomController</servlet-name>
		<url-pattern>/rooms</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FloorController</servlet-name>
		<servlet-class>controller.FloorController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FloorController</servlet-name>
		<url-pattern>/floors</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Room_TypeController</servlet-name>
		<servlet-class>controller.Room_TypeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Room_TypeController</servlet-name>
		<url-pattern>/room_type</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CustomerController</servlet-name>
		<servlet-class>controller.CustomerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerController</servlet-name>
		<url-pattern>/customers</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ErrorController</servlet-name>
		<servlet-class>controller.ErrorController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ErrorController</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>
	
	

</web-app>
